/* Default styles */
body {
    transition: background-color 0.5s ease;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  }
  
  /* Ombre Green Page */
  body.green {
    background: linear-gradient(to bottom, #00b140, #43c964);
  }
  
  h1.green {
    color: #ffffff;
  }
  
  p.green {
    color: #ffffff;
  }
  
  /* Ombre Blue Page */
  body.blue {
    background: linear-gradient(to bottom, #0378b1, #3c9ad6);
  }
  
  h1.blue {
    color: #ffffff;
  }
  
  p.blue {
    color: #ffffff;
  }
  